body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #024959;
    color: white;
    padding: 10px 20px;
}

.navbar .logo {
    width: 100px; /* Adjust based on actual logo size */
}

.nav-links a, .personal-actions a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.nav-links a:hover, .personal-actions a:hover, .login-logout:hover {
    background-color: #036180;
    border-radius: 5px;
}

.personal-actions {
    display: flex;
}

.content {
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #022B3A;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
